
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-toggle{
    display: none;
}
.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: center;
}
.nav-list-anchor{
    display: block;
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(66, 66, 66);
    border-bottom: 5px solid #fff;
    transition: 1s;
}
.nav-list-anchor:hover{
    text-decoration: none;
    border-bottom: 5px solid rgb(66, 66, 66);
}

/* image slide show section */
.image-slide{
    /* padding: 10px 0; */
    height: 300px;
    background-color: #000;
    background-image: url("images/slide1.jpg");
    background-size: 100% 100%;
}
.image-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-header{
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    font-size: 2em;
    word-break: break-all;
}
.nav-header-span{
    display: none;
}
.nav-header::after{
    content: "|";
    animation-name: blick;
    animation-duration: .6s;
    animation-iteration-count: infinite;
}
.nav-header::before{
    content: "";
    animation-name: write;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes blick{
    0%{color: transparent;}
    100%{color: #fff;}
}

@keyframes write{
    0%{content: "";}
    6.25%{content: "I";}
    12.5%{content: "I'";}
    18.75%{content: "I'm";}
    25%{content: "I'm a";}
    31.25%{content: "I'm a W";}
    37.5%{content: "I'm a WE";}
    43.75%{content: "I'm a WEB";}
    50%{content: "I'm a WEB D";}
    56.25%{content: "I'm a WEB DE";}
    62.5%{content: "I'm a WEB DEV";}
    68.75%{content: "I'm a WEB DEVE";}
    75%{content: "I'm a WEB DEVEL";}
    81.25%{content: "I'm a WEB DEVELO";}
    87.5%{content: "I'm a WEB DEVELOP";}
    93.75%{content: "I'm a WEB DEVELOPE";}
    100%{content: "I'm a WEB DEVELOPER";}
}
/* END of image slide show section */

.image{
    display: flex;
    overflow-x: scroll;
    margin: 20px;
}
.my-images{
    width: 350px;
    height: 200px;
    margin: 10px;
}

/* SECTION 2 */
.about-section{
    padding: 20px;
}
.about-header{
    text-align: center;
    color: rgb(66, 66, 66);
}
.about{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.section2-img-con{
    text-align: center;
}
.section2-img{
    border-radius: 100%;
    width: 400px;
    height: 400px;
}
.about-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0 20px;
}
.section2-header4{
    padding: 5px 0;
    font-size: 16px;
}
.left{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 128, 128);
}
.right{
    color: rgb(66, 66, 66);
}



/* section3 */
.section3{
    text-align: left;
    padding: 20px;
}
.section3-header{
    text-align: center;
}
.section3 p{
    color: rgb(66, 66, 66);
}


/* section4 CONTACT */
.section4-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.my-contact-info-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact{
    text-align: center;
    width: 50%;
}
.contact-me{
    width: 50%;
}
fieldset{
    border: none;
}
legend{
    margin: auto;
}
label, input{
    width: 100%;
}
textarea{
    width: 100%;
    resize: none;
    margin: 10px 0;
}
textarea::placeholder{
    font-style: italic;
}
button{
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 5px;
}

.folio{
    padding: 20px;
}
.portfolio{
    text-align: center;
}
.folio-link{
    display: block;
    text-align: center;
    padding: 10px 0;
}

.footer{
    margin-top: 10px;
    text-align: right;
    font-style: italic;
    font-size: 13px;
    color: #fff;
    padding: 10px;
    background-color: rgb(66, 66, 66);
}



@media only screen and (max-width:992px){
    
    
}


@media only screen and (max-width:768px){
    
    
}


@media only screen and (max-width:576px){
    .top{
        display: block;
        position: relative;
    }
    
    .nav-toggle{
        display: block;
        margin-left: auto;
        padding: 10px;
    }
    .nav-list{
        display: block;
        position: absolute;
        left: -300%;
        transition: 3s;
        background-color: #fff;
        width: 150px;
    }
    .nav-list-show{
        display: block;
        transition: .5s;
        left: 0;
    }

    /* SECTION 2 */
    .about{
        display: block;
        padding: 0px;
    }
    .section2-img{
        border-radius: 0;
        width: 90%;
        height: auto;
    }
    .about-content{
        padding: 0px;
    }

    /* section3 */
    .section3{
        text-align: center;
        padding: 10px;
    }

    /* section4 CONTACT */
    .section4-contact{
        flex-wrap: wrap;
        padding: 20px;
    }
    .contact{
        width: 100%;
    }
    .contact-me{
        width: 100%;
    }

    .footer{
        text-align: center;
    }
}